<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Health Heart</title>
    <link rel="icon" href="../static/heart.png" type="image/icon type">
<style>
    body{
        margin:0;
        padding:0;
        font-family: sans-serif;
        background : url(../static/home.jpg);
        background-size:cover;
        color:white;
    }
    .box{
        position:absolute;
        top:10%;
        left:10%;
        width: auto;
        padding:40px;
        background:rgba(0, 0, 0, .8);
        box-sizing :border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
    }
   
    
</style>   
  </head>

<body backgroung-image ='../static/home,jpg'>
 <div class ="box">
            <h2 style="color:rgb(191, 191, 241);">With a Healthy Heart the Women Goes On!</h2>
            <h5 style="color:rgb(234, 150, 236);padding-left:20px">Let's have a quick check up strong women </h5></br>
            <form>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <input type="text"  class="form-control" id="staticEmail" placeholder="email@example.com">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label" name="mrh">Maximum Heart Beats</label>
                    <div class="col-sm-7">
                      <input type="text"  class="form-control" id="mhb" placeholder="Can be taken from Pusle Sensor">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label" name="age">Age</label>
                    <div class="col-sm-3">
                      <input type="int"  class="form-control" id="mhb" placeholder="Years">
                    </div>
                </div>
               <div class="form-group row">
                    <div class="form-group col-md-3">
                      <label for="inputCity">Blood Pressure</label>
                      <input type="text" class="form-control" id="inputCity" name="bp">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="serum">Serum cholestoral </label>
                        <input type="text" class="form-control" id="serium" placeholder="mg/dl" name="sc">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState" name="tocp">Type of Chest Pain </label>
                      <select id="inputState" class="form-control">
                          <option value="0">Typical Angina (Heart related)</option>
                          <option value="1">Atypical Angina (Non-heart related) </option>
                          <option value="2">Non-Anginal pain (Non-heart related)</option>
                          <option selected value="3"> Asymptomatic (No disease)</option>
                    </select>
                    </div>
                   
                  </div>
                  <div class="form-group row" style="padding-top:7px">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Blood Sugar Level</label>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="bsl" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">>120 mg/dl</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="bsl" id="inlineRadio2" value="0">
                            <label class="form-check-label" for="inlineRadio2">Less than</label>
                          </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputState" class="form-group col-md-3">Electrocardiographic measure</label>
                    <select id="inputState" class="form-control col-md-5">
                      <option selected> Normal</option>
                      <option>Having ST-T wave abnormality</option>
                      <option>Showing probable or definite left ventricular hypertrophy</option>
                    </select>
                  </div>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Exercise induced Angina</label>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline" style="padding-top:7px">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputState" class="form-group col-md-3">Thal</label>
                    <select id="inputState" class="form-control col-md-5">
                      <option selected> Normal</option>
                      <option>Fixed Defect</option>
                      <option>Reversable Defect</option>
                    </select>
                    <p class="col-md-4" style="font-style: italic;">Blood disorder called thalassemia </p>
                  </div>
                  <div class="form-group row">
                    <label for="inputState" class="form-group col-md-3">Slope of the peak </label>
                    <select id="inputState" class="form-control col-md-5">
                      <option selected> Normal</option>
                      <option>Fixed Defect</option>
                      <option>Reversable Defect</option>
                    </select>
                    <p class="col-md-4" style="font-style: italic;">Peak exercise ST segments</p>
                  </div>
                  <div class="form-group row">
                    <label for="old Peak" class="col-sm-3 col-form-label">Old Peak ST depression</label>
                    <div class="col-sm-4">
                      <input type="float"  class="form-control" id="old peak" placeholder="">
                     </div>
                     <p class="col-md-4" style="font-style: italic;">By exercise relative to rest</p>
                  </div>
                  <button type="submit" class="btn btn-danger btn-lg col-sm-5" style="border-radius: 5px;margin:20px;">Heart</button>
                  </div>
                    
                </div>

                </div>
                 
                </div>
                </form>

               
            </div>
        </form>
      </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>