<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Health Heart</title>
<style>
    body{
        margin:0;
        padding:0;
        font-family: sans-serif;
        background : url(../static/home.jpg);
        background-size:cover;
        color:white;
    }
    .box{
        position:absolute;
        top:10%;
        left:10%;
        width: auto;
        padding:40px;
        background:rgba(0, 0, 0, .8);
        box-sizing :border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
    }
   
    
</style>   
  </head>

<body backgroung-image ='../static/home,jpg'>
      <div class ="box">
            <h2>Check your Health!</h2></br>
            <form>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <input type="text"  class="form-control" id="staticEmail" placeholder="email@example.com">
                  </div>
                </div>
                <label for="staticEmail" class="col-sm-2 col-form-label">Sex</label>
                <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                  </div>
                <div class="form-group row">
                    <div class="form-group col-md-3">
                      <label for="inputCity">Blood Pressure</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="serum">Serum cholestoral </label>
                        <input type="text" class="form-control" id="serium" placeholder="mg/dl">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Type of Chest Pain </label>
                      <select id="inputState" class="form-control">
                        <option selected></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    </div>
                   
                  </div>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Blood Sugar Level</label>
                    <div class="col-sm-5">
                      <input type="text"  class="form-control" id="staticEmail" placeholder="> 120 mg/dl">
                    </div>
                  </div>
                    
                </div>
                </div>
                 
                </div>
                </form>

               
            </div>
        </form>
      </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>